<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contactanos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body>
  <div class="container-sm mt-3 w-50">
    <h1>Contactanos</h1>
    <% if (errors.length> 0) { %> <% errors.forEach((e)=> { %>
        <li>Error: <%= e.text %>
        </li>
        <% });%>
          <% } %>
            <form action="/contacto/" method="POST" id="form">
              <div class="mb-3">
                <label for="nombres-txt" class="form-label">Nombres</label>
                <input name="firstName" type="text" class="form-control" id="nombres-txt"
                  placeholder="Escribe tu nombre" required />
              </div>
              <div class="mb-3">
                <label for="apellidos-txt" class="form-label">Apellidos</label>
                <input name="lastName" type="text" class="form-control" id="apellidos-txt"
                  placeholder="Escribe tus apellidos" required />
              </div>
              <div class="mb-3">
                <label for="dni-txt" class="form-label">Documento de Identidad</label>
                <input name="dni" type="number" class="form-control" id="dni-txt" placeholder="Ingresa tu teléfono"
                  required />
              </div>

              <div class="mb-3">
                <label for="teléfono-txt" class="form-label">Teléfono</label>
                <input name="telephone" type="number" class="form-control" id="teléfono-txt"
                  placeholder="Ingresa tu teléfono" required />
              </div>
              <div class="mb-3">
                <label for="email-txt" class="form-label">Correo</label>
                <input name="email" type="email" class="form-control" id="email-txt" placeholder="Ingresa tu correo"
                  required />
              </div>
              <div class="mb-3">
                <label for="motivo-txt" class="form-label">Academia</label>
                <select name="reason" class="form-select" aria-label="Default select example" required>
                  <option selected value="ADUNI">Aduni</option>
                  <option value="CVALLEJO">Cesar Vallejo</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="comentarios-txt" class="form-label">Información Adicional</label>
                <textarea name="comments" class="form-control" id="comentarios-txt" rows="3"
                  placeholder="Escribe un comentario (opcional)"></textarea>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required />
                <div class="mb-3">
                  <label class="form-check-label" for="flexCheckDefault">
                    Acepto los términos y condiciones
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary mb-3">
                Enviar información
              </button>
  </div>
  </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>