

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
</head>
<body>
    <h1>Contactanos</h1>
    <% if (errors.length > 0) { %>
        <% errors.forEach((e) => { %>
            <li> Error: <%= e.text %>  </li>
        <% });%> 
    <% } %>
    <form action="/contacto/" method="POST">
        <div>
            <input type='text' name='firstName' placeholder="Nombres">
        </div>
        <div>
            <input type='text' name='lastName' placeholder="Apellidos">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>